## Data Structures and Advanced Data Types

#### Strings are sequences of characters in Python.

In [3]:
text = "Welcome to my notebook!"
print(text)
print(len(text))  # Length
print(text.upper())  # Uppercase
print(text.lower())  # Lowercase
print(text.split(','))  # Split into a list

Welcome to my notebook!
23
WELCOME TO MY NOTEBOOK!
welcome to my notebook!
['Welcome to my notebook!']

#### Lists are ordered, mutable sequences in Python.

In [4]:
my_list = [9, 7, 1, 5, 3]
print(my_list[2])  # Output: 3 (accessing the element at index 2)

1

In [36]:
#Nested dictionaries or lists:
#nested list
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
my_list[2]=22
print(my_list)
my_list[2]=[2,2,2]
print(my_list)

[0, 1, 22, 3, 4, 5, 6, 7, 8, 9]
[0, 1, [2, 2, 2], 3, 4, 5, 6, 7, 8, 9]

In [5]:
"""Nested list and list comprehension
It is list of lists, where each element is itself a list."""
nested_list = [[9, 0, 5], [9, 0], [9, 0, 5, 7]] #There are three sublists

"""Flattened list is a list comprehension that flattens a nested list into a single list.
It involves looping through a list of lists and extracting individual elements from each sublist."""

flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[9, 0, 5, 9, 0, 9, 0, 5, 7]

#### List methods:
1. append
2. count
3. remove
4. pop
5. insert
6. index
7. reverse
8. sort

In [7]:
Fruits = ['apple', 'pear', 'orange'] 
print(Fruits[1])
print(Fruits[-1].upper())

pear
ORANGE

In [8]:
Fruits.append("banana")
print(Fruits)

['apple', 'pear', 'orange', 'banana']

In [9]:
Fruits.count('banana')

1

In [10]:
Fruits.remove('banana')
print(Fruits)

['apple', 'pear', 'orange']

In [15]:
Fruits.insert(1,'banana')
print(Fruits)

['apple', 'banana', 'banana', 'pear', 'orange']

In [16]:
Fruits.index('orange')

4

In [17]:
Fruits.reverse()
print(Fruits)

['orange', 'pear', 'banana', 'banana', 'apple']

In [18]:
Fruits.sort()
print(Fruits)

['apple', 'banana', 'banana', 'orange', 'pear']

#### Tuple basics:
Tuples are ordered, immutable sequences.

In [20]:
coordinates = (10, 20)
print(coordinates)
x, y = coordinates  # Unpacking
print(f"X: {x}, Y: {y}")

(10, 20)
X: 10, Y: 20

#### Set basics:
Sets are unordered collections of unique elements.

In [24]:
my_set = {1, 2, 3, 4, 1, 2}

print(my_set)

{1, 2, 3, 4}

In [25]:
veggies = {'potatoes', 'cabbage', 'auberigene', 'lettuce', 'cabbage'}
print(veggies)

{'lettuce', 'auberigene', 'potatoes', 'cabbage'}

In [26]:
#add
veggies.add('carrot')
print(veggies)

{'auberigene', 'cabbage', 'carrot', 'lettuce', 'potatoes'}

In [27]:
#remove
veggies.remove('carrot')
print(veggies)

{'auberigene', 'cabbage', 'lettuce', 'potatoes'}

In [28]:
#discard
veggies.discard('cabbage')
print(veggies)

{'auberigene', 'lettuce', 'potatoes'}

In [29]:
#union
veggies1 = {'potatoes', 'cabbage', 'auberigene'}
veggies2 = {'lettuce', 'cabbage'}
sadunion = veggies1 | veggies2
print(sadunion)

{'lettuce', 'auberigene', 'cabbage', 'potatoes'}

#### Dictionaries are key-value pairs

In [30]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person['name'])  # Output: John

person['job'] = 'Engineer'
print(person)  # Output: {'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

John
{'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer'}

In [31]:
person.update({'company': 'Google'})
print(person)

{'name': 'John', 'age': 30, 'city': 'New York', 'job': 'Engineer', 'company': 'Google'}

In [32]:
person.keys()

dict_keys(['name', 'age', 'city', 'job', 'company'])

In [33]:
person.values()

dict_values(['John', 30, 'New York', 'Engineer', 'Google'])

In [34]:
print(person.get("company"))

Google

In [35]:
x = ('key1', 'key2', 'key3')
y = (0, 2, 3)

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': (0, 2, 3), 'key2': (0, 2, 3), 'key3': (0, 2, 3)}

In [37]:
#nested dictionary
students_scores = {
    "student1": {
        "math": 85,
        "science": 90,
        "english": 78
    },
    "student2": {
        "math": 92,
        "science": 88,
        "english": 81
    },
    "student3": {
        "math": 75,
        "science": 80,
        "english": 79
    }
}
math_score_student1 = students_scores["student1"]["math"]
print(f"Student 1 Math Score: {math_score_student1}")  # Output: 85
science_score_student2 = students_scores["student2"]["science"]
print(f"Student 2 Science Score: {science_score_student2}")  # Output: 88

Student 1 Math Score: 85
Student 2 Science Score: 88

#### Type Coversions

In [38]:
# Type conversion examples
num_str = "42"
num_int = int(num_str)  # String to integer
num_float = float(num_str)  # String to float
back_to_str = str(num_int)  # Integer to string

print(f"String: {num_str}, Type: {type(num_str)}")
print(f"Integer: {num_int}, Type: {type(num_int)}")
print(f"Float: {num_float}, Type: {type(num_float)}")
print(f"Back to string: {back_to_str}, Type: {type(back_to_str)}")

String: 42, Type: <class 'str'>
Integer: 42, Type: <class 'int'>
Float: 42.0, Type: <class 'float'>
Back to string: 42, Type: <class 'str'>

#### Binary numbers

In [39]:
# Binary number representation
decimal_num = 42
binary_num = bin(decimal_num)
print(f"Decimal: {decimal_num}")
print(f"Binary: {binary_num}")

# Binary to decimal conversion
binary_str = "101010"
decimal_from_binary = int(binary_str, 2)
print(f"Binary string: {binary_str}")
print(f"Decimal from binary: {decimal_from_binary}")

Decimal: 42
Binary: 0b101010
Binary string: 101010
Decimal from binary: 42